<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silver.tss.dao.TopicMapper">
  <resultMap id="BaseResultMap" type="com.silver.tss.domain.Topic">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="topic_id" jdbcType="VARCHAR" property="topicId" />
    <result column="topic_name" jdbcType="VARCHAR" property="topicName" />
    <result column="topic_type" jdbcType="VARCHAR" property="topicType" />
    <result column="topic_description" jdbcType="VARCHAR" property="topicDescription" />
    <result column="topic_max_selected" jdbcType="INTEGER" property="topicMaxSelected" />
    <result column="topic_real_selected_1" jdbcType="INTEGER" property="topicRealSelected1" />
    <result column="topic_real_selected_2" jdbcType="INTEGER" property="topicRealSelected2" />
    <result column="topic_real_selected_3" jdbcType="INTEGER" property="topicRealSelected3" />
    <result column="yn" jdbcType="BIT" property="yn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, topic_id, topic_name, topic_type, topic_description, topic_max_selected, topic_real_selected_1,
    topic_real_selected_2, topic_real_selected_3, yn, create_time, modify_time
  </sql>
  <select id="selectByExample" parameterType="com.silver.tss.domain.TopicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.silver.tss.domain.TopicExample">
    delete from topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.silver.tss.domain.Topic">
    insert into topic (id, topic_id, topic_name,
      topic_type, topic_description, topic_max_selected,
      topic_real_selected_1, topic_real_selected_2,
      topic_real_selected_3, yn, create_time,
      modify_time)
    values (#{id,jdbcType=INTEGER}, #{topicId,jdbcType=VARCHAR}, #{topicName,jdbcType=VARCHAR},
      #{topicType,jdbcType=VARCHAR}, #{topicDescription,jdbcType=VARCHAR}, #{topicMaxSelected,jdbcType=INTEGER},
      #{topicRealSelected1,jdbcType=INTEGER}, #{topicRealSelected2,jdbcType=INTEGER},
      #{topicRealSelected3,jdbcType=INTEGER}, #{yn,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP},
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.silver.tss.domain.Topic">
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="topicName != null">
        topic_name,
      </if>
      <if test="topicType != null">
        topic_type,
      </if>
      <if test="topicDescription != null">
        topic_description,
      </if>
      <if test="topicMaxSelected != null">
        topic_max_selected,
      </if>
      <if test="topicRealSelected1 != null">
        topic_real_selected_1,
      </if>
      <if test="topicRealSelected2 != null">
        topic_real_selected_2,
      </if>
      <if test="topicRealSelected3 != null">
        topic_real_selected_3,
      </if>
      <if test="yn != null">
        yn,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="topicName != null">
        #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="topicType != null">
        #{topicType,jdbcType=VARCHAR},
      </if>
      <if test="topicDescription != null">
        #{topicDescription,jdbcType=VARCHAR},
      </if>
      <if test="topicMaxSelected != null">
        #{topicMaxSelected,jdbcType=INTEGER},
      </if>
      <if test="topicRealSelected1 != null">
        #{topicRealSelected1,jdbcType=INTEGER},
      </if>
      <if test="topicRealSelected2 != null">
        #{topicRealSelected2,jdbcType=INTEGER},
      </if>
      <if test="topicRealSelected3 != null">
        #{topicRealSelected3,jdbcType=INTEGER},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.silver.tss.domain.TopicExample" resultType="java.lang.Long">
    select count(*) from topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update topic
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.topicId != null">
        topic_id = #{record.topicId,jdbcType=VARCHAR},
      </if>
      <if test="record.topicName != null">
        topic_name = #{record.topicName,jdbcType=VARCHAR},
      </if>
      <if test="record.topicType != null">
        topic_type = #{record.topicType,jdbcType=VARCHAR},
      </if>
      <if test="record.topicDescription != null">
        topic_description = #{record.topicDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.topicMaxSelected != null">
        topic_max_selected = #{record.topicMaxSelected,jdbcType=INTEGER},
      </if>
      <if test="record.topicRealSelected1 != null">
        topic_real_selected_1 = #{record.topicRealSelected1,jdbcType=INTEGER},
      </if>
      <if test="record.topicRealSelected2 != null">
        topic_real_selected_2 = #{record.topicRealSelected2,jdbcType=INTEGER},
      </if>
      <if test="record.topicRealSelected3 != null">
        topic_real_selected_3 = #{record.topicRealSelected3,jdbcType=INTEGER},
      </if>
      <if test="record.yn != null">
        yn = #{record.yn,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update topic
    set id = #{record.id,jdbcType=INTEGER},
    topic_id = #{record.topicId,jdbcType=VARCHAR},
    topic_name = #{record.topicName,jdbcType=VARCHAR},
    topic_type = #{record.topicType,jdbcType=VARCHAR},
    topic_description = #{record.topicDescription,jdbcType=VARCHAR},
    topic_max_selected = #{record.topicMaxSelected,jdbcType=INTEGER},
    topic_real_selected_1 = #{record.topicRealSelected1,jdbcType=INTEGER},
    topic_real_selected_2 = #{record.topicRealSelected2,jdbcType=INTEGER},
    topic_real_selected_3 = #{record.topicRealSelected3,jdbcType=INTEGER},
    yn = #{record.yn,jdbcType=BIT},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>